[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = João Pedro
	email = 81330926+devjoao98@users.noreply.github.com
